flows (1).json
[{"id":"5a767f8a.b7d57","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3b4c17d2.2e8c08","type":"function","z":"5a767f8a.b7d57","name":"Temperatura","func":"rnd = Math.floor(Math.random()*(100-10) +10);\n//node.error (rnd);\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["cae7475f.1b9fe8"]]},{"id":"bb1394a7.e8c058","type":"ui_gauge","z":"5a767f8a.b7d57","name":"Temperatura","group":"dfa5468a.178008","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"10","max":"100","colors":["#8080ff","#ff8040","#ff0000"],"seg1":"","seg2":"","x":259,"y":300,"wires":[]},{"id":"548de1d2.30c8d","type":"ui_chart","z":"5a767f8a.b7d57","name":"","group":"b0a3087c.22f8d8","order":2,"width":0,"height":0,"label":"Temperatura(°C)","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":279,"y":260,"wires":[[]]},{"id":"11f19172.a077df","type":"inject","z":"5a767f8a.b7d57","name":"Randomização1","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["3b4c17d2.2e8c08","14028cdb.e6bfc3"]]},{"id":"14028cdb.e6bfc3","type":"function","z":"5a767f8a.b7d57","name":"Luminosidade","func":"rnd = Math.floor(Math.random()*(200-0) +10);\n//node.error (rnd);\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["4f4bc69c.d90aa8"]]},{"id":"329c71e4.361b4e","type":"ui_gauge","z":"5a767f8a.b7d57","name":"Luminosidade","group":"dfa5468a.178008","order":2,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"Lux","format":"{{value}}","min":"0","max":"200","colors":["#000000","#f2f200","#ffffaa"],"seg1":"","seg2":"","x":269,"y":380,"wires":[]},{"id":"71aedbc3.fdc064","type":"ui_chart","z":"5a767f8a.b7d57","name":"","group":"b0a3087c.22f8d8","order":1,"width":0,"height":0,"label":"Luminosidade(Lux)","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2d2dff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":279,"y":340,"wires":[[]]},{"id":"6c4ac812.b4afb8","type":"switch","z":"5a767f8a.b7d57","name":"Demultiplexador","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"b","vt":"str"},{"t":"eq","v":"c","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":960,"wires":[["870ed03f.5fc0e","4fd7aadb.8358b4","3329a613.05b75a","591fbc7f.fcfa14"],["ea45a207.75d8d","3854ae38.e82be2","4db5a9b5.c8db48","f4b8e78f.b668e8"],["98cfef39.b3392","d35a78c9.454e08","ce07933c.613a5","5f8ea456.beb1fc"]]},{"id":"35f6fc0d.502eb4","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":5,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":230,"y":500,"wires":[]},{"id":"870ed03f.5fc0e","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"a","fromt":"str","to":"80","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["9a0bdba6.96de38"]]},{"id":"4fd7aadb.8358b4","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"a","fromt":"str","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":780,"wires":[["253cfa5e.7da2f6"]]},{"id":"74a01061.b54d1","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":3,"width":6,"height":1,"name":"","label":"Faixa de Temperatura (°C)","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":540,"wires":[]},{"id":"9e10d2ab.74637","type":"ui_dropdown","z":"5a767f8a.b7d57","name":"","label":"Tipo de Vegetal","tooltip":"Selecione o vegetal desejado para cultivo","place":"Select option","group":"debdb401.1787b8","order":1,"width":8,"height":1,"passthru":true,"options":[{"label":"Alface","value":"a","type":"str"},{"label":"Repolho","value":"b","type":"str"},{"label":"Rúcula","value":"c","type":"str"}],"payload":"","topic":"","x":140,"y":960,"wires":[["6c4ac812.b4afb8"]]},{"id":"ea45a207.75d8d","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b","fromt":"str","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":820,"wires":[["9a0bdba6.96de38"]]},{"id":"3854ae38.e82be2","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b","fromt":"str","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":860,"wires":[["253cfa5e.7da2f6"]]},{"id":"98cfef39.b3392","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"c","fromt":"str","to":"75","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":900,"wires":[["9a0bdba6.96de38"]]},{"id":"d35a78c9.454e08","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"c","fromt":"str","to":"25","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":940,"wires":[["253cfa5e.7da2f6"]]},{"id":"559d25d3.8a3d3c","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":8,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":230,"y":580,"wires":[]},{"id":"3329a613.05b75a","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"a","fromt":"str","to":"180","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1000,"wires":[["468785a8.d0f09c"]]},{"id":"591fbc7f.fcfa14","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"a","fromt":"str","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1040,"wires":[["a0e24c6e.16714"]]},{"id":"2d11bc8f.221614","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":6,"width":6,"height":1,"name":"","label":"Faixa de Luminosidade (Lux)","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":620,"wires":[]},{"id":"4db5a9b5.c8db48","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b","fromt":"str","to":"175","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1080,"wires":[["468785a8.d0f09c"]]},{"id":"f4b8e78f.b668e8","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b","fromt":"str","to":"15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1120,"wires":[["a0e24c6e.16714"]]},{"id":"ce07933c.613a5","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"c","fromt":"str","to":"190","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1160,"wires":[["468785a8.d0f09c"]]},{"id":"5f8ea456.beb1fc","type":"change","z":"5a767f8a.b7d57","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"c","fromt":"str","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1200,"wires":[["a0e24c6e.16714"]]},{"id":"78293969.2f6928","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":4,"width":1,"height":1,"name":"","label":"-","format":"{{msg.payload}}","layout":"col-center","x":350,"y":500,"wires":[]},{"id":"8bb59922.f82cf8","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":7,"width":1,"height":1,"name":"","label":"-","format":"{{msg.payload}}","layout":"col-center","x":350,"y":580,"wires":[]},{"id":"cae7475f.1b9fe8","type":"link out","z":"5a767f8a.b7d57","name":"temperatura","links":["6282aa3.eac2254"],"x":535,"y":80,"wires":[]},{"id":"4f4bc69c.d90aa8","type":"link out","z":"5a767f8a.b7d57","name":"Luminosidade","links":["6b28d7d9.e3cc28"],"x":535,"y":120,"wires":[]},{"id":"6282aa3.eac2254","type":"link in","z":"5a767f8a.b7d57","name":"","links":["cae7475f.1b9fe8"],"x":84,"y":260,"wires":[["548de1d2.30c8d","bb1394a7.e8c058","77711424.26df5c"]]},{"id":"6b28d7d9.e3cc28","type":"link in","z":"5a767f8a.b7d57","name":"","links":["4f4bc69c.d90aa8"],"x":84,"y":340,"wires":[["71aedbc3.fdc064","329c71e4.361b4e","607d52dd.76aaec"]]},{"id":"9a0bdba6.96de38","type":"link out","z":"5a767f8a.b7d57","name":"temperaturamaxima","links":["236f9b8d.c4b564"],"x":815,"y":800,"wires":[]},{"id":"253cfa5e.7da2f6","type":"link out","z":"5a767f8a.b7d57","name":"temperaturaminima","links":["3e2aad48.5608f2"],"x":815,"y":860,"wires":[]},{"id":"468785a8.d0f09c","type":"link out","z":"5a767f8a.b7d57","name":"luminosidademaxima","links":["47b667d0.7ea3a8"],"x":815,"y":1060,"wires":[]},{"id":"a0e24c6e.16714","type":"link out","z":"5a767f8a.b7d57","name":"luminosidademinima","links":["74f8127d.9e5c3c"],"x":815,"y":1120,"wires":[]},{"id":"236f9b8d.c4b564","type":"link in","z":"5a767f8a.b7d57","name":"","links":["9a0bdba6.96de38"],"x":95,"y":500,"wires":[["35f6fc0d.502eb4","bb24153.5f715e8"]]},{"id":"3e2aad48.5608f2","type":"link in","z":"5a767f8a.b7d57","name":"","links":["253cfa5e.7da2f6"],"x":95,"y":540,"wires":[["74a01061.b54d1","9fe131c6.885a7"]]},{"id":"47b667d0.7ea3a8","type":"link in","z":"5a767f8a.b7d57","name":"","links":["468785a8.d0f09c"],"x":95,"y":580,"wires":[["559d25d3.8a3d3c","716b6652.450038"]]},{"id":"74f8127d.9e5c3c","type":"link in","z":"5a767f8a.b7d57","name":"","links":["a0e24c6e.16714"],"x":95,"y":620,"wires":[["2d11bc8f.221614","b7ddef02.0d687"]]},{"id":"7117b673.b0e9a8","type":"comment","z":"5a767f8a.b7d57","name":"Painel de valores","info":"","x":260,"y":460,"wires":[]},{"id":"3e2eda7c.45d776","type":"comment","z":"5a767f8a.b7d57","name":"Visualização Gráfica","info":"","x":279,"y":220,"wires":[]},{"id":"77711424.26df5c","type":"function","z":"5a767f8a.b7d57","name":"Comparação","func":"var tatual = msg.payload; \nvar tmax = flow.get('tempmax');\nvar tmin = flow.get('tempmin');\n\nif(tatual > tmax){\n    msg.payload = 'Temperatura Elevada';\n    \n}\nelse if(tatual < tmin){\n    msg.payload = 'Temperatura Baixa'; \n}\nelse{\n    msg.payload = 'Temperatura Satisfatória'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":260,"wires":[["665d92c4.17973c","717fb87a.3825d8"]]},{"id":"665d92c4.17973c","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":8,"width":0,"height":0,"name":"","label":"Temperatura Atual","format":"{{msg.payload}}","layout":"row-spread","x":699,"y":260,"wires":[]},{"id":"bb24153.5f715e8","type":"function","z":"5a767f8a.b7d57","name":"tempmax","func":"flow.set('tempmax',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":500,"wires":[[]]},{"id":"9fe131c6.885a7","type":"function","z":"5a767f8a.b7d57","name":"tempmin","func":"flow.set('tempmin',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[[]]},{"id":"716b6652.450038","type":"function","z":"5a767f8a.b7d57","name":"lummax","func":"flow.set('lummax',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":580,"wires":[[]]},{"id":"b7ddef02.0d687","type":"function","z":"5a767f8a.b7d57","name":"lummin","func":"flow.set('lummin',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":620,"wires":[[]]},{"id":"2f5afc6e.835e44","type":"comment","z":"5a767f8a.b7d57","name":"Armazenamento dos Parâmetros","info":"","x":646.5,"y":459,"wires":[]},{"id":"607d52dd.76aaec","type":"function","z":"5a767f8a.b7d57","name":"Comparação","func":"var latual = msg.payload; \nvar lmax = flow.get('lummax');\nvar lmin = flow.get('lummin');\n\nif(latual > lmax){\n    msg.payload = 'Iluminação Elevada';\n}\nelse if(latual < lmin){\n    msg.payload = 'Baixa Iluminação'; \n}\nelse{\n    msg.payload = 'Luminosidade Satisfatória'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":340,"wires":[["6b0af73b.7a5c78","c2e4aaa7.646b78"]]},{"id":"6b0af73b.7a5c78","type":"ui_text","z":"5a767f8a.b7d57","group":"debdb401.1787b8","order":8,"width":0,"height":0,"name":"","label":"Luminosidade Atual","format":"{{msg.payload}}","layout":"row-spread","x":699,"y":340,"wires":[]},{"id":"717fb87a.3825d8","type":"switch","z":"5a767f8a.b7d57","name":"Áudio Temperatura","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Temperatura Elevada","vt":"str"},{"t":"eq","v":"Temperatura Baixa","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":699,"y":300,"wires":[["37e6fe07.97f8e2"],["c59c2fef.ca01b"]]},{"id":"c2e4aaa7.646b78","type":"switch","z":"5a767f8a.b7d57","name":"Áudio Luminosidade","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Iluminação Elevada","vt":"str"},{"t":"eq","v":"Baixa Iluminação","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":709,"y":380,"wires":[["248f603e.b6dab"],["7dd2ea43.b3b704"]]},{"id":"37e6fe07.97f8e2","type":"ui_audio","z":"5a767f8a.b7d57","name":"Temperatura Elevada","group":"debdb401.1787b8","voice":"pt-BR","always":"","x":949,"y":280,"wires":[]},{"id":"c59c2fef.ca01b","type":"ui_audio","z":"5a767f8a.b7d57","name":"Temperatura Baixa","group":"debdb401.1787b8","voice":"pt-BR","always":"","x":939,"y":320,"wires":[]},{"id":"248f603e.b6dab","type":"ui_audio","z":"5a767f8a.b7d57","name":"Iluminação Elevada","group":"debdb401.1787b8","voice":"pt-BR","always":"","x":939,"y":360,"wires":[]},{"id":"7dd2ea43.b3b704","type":"ui_audio","z":"5a767f8a.b7d57","name":"Baixa Iluminação","group":"debdb401.1787b8","voice":"pt-BR","always":"","x":939,"y":400,"wires":[]},{"id":"633af150.3769b","type":"comment","z":"5a767f8a.b7d57","name":"Verificação dos Limites de Funcionamento","info":"","x":689,"y":220,"wires":[]},{"id":"d1b797f2.7310d8","type":"comment","z":"5a767f8a.b7d57","name":"Inicialização de Valores Aleatórios de Entrada","info":"","x":310,"y":40,"wires":[]},{"id":"c2a4ae8e.68393","type":"comment","z":"5a767f8a.b7d57","name":"Associação dos Valores de Referência ","info":"","x":250,"y":880,"wires":[]},{"id":"dfa5468a.178008","type":"ui_group","z":"","name":"AQUISIÇÃO DOS SENSORES","tab":"7fe75769.a146b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b0a3087c.22f8d8","type":"ui_group","z":"","name":"ANÁLISE GRÁFICA","tab":"7fe75769.a146b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"debdb401.1787b8","type":"ui_group","z":"","name":"PAINEL DE CONTROLE","tab":"7fe75769.a146b8","order":1,"disp":true,"width":8,"collapse":false},{"id":"7fe75769.a146b8","type":"ui_tab","z":"","name":"Sistema de Controle de uma Fazenda Vertical","icon":"dashboard","disabled":false,"hidden":false}]